@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 39, 39);
    font-family: "Dancing Script", cursive;
    text-align: center;
}

.Promo{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6836B;
    position: relative;
    top: 10px;
}

.Promo p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}